include /mixins/forms.pug
include /mixins/flash.pug

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= Title
    link(rel="stylesheet", href="/assets/css/main.css")
    script(src='/assets/js/main.js')
  body
    header.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href=urlFor('root')) Task Manager
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarCollapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href=urlFor('users')) Users
        ul.navbar-nav.navbar-sign-block
          if isSignedIn()
            li.nav-item
              +formFor(f, { url: urlFor('session'), method: 'DELETE', inline: true })
                +button(f, { value: 'Sign Out', classList: 'btn-link nav-link' })
          else
            li.nav-item
              a.nav-link.btn(href=urlFor('newSession')) Sign In
            li.nav-item
              a.nav-link.btn(href=urlFor('newUser')) Sign Up
    main.container(role="main")
      - const flashOptions = flash.get()
      if flashOptions
        +flash(f, flashOptions)        
      block content
    footer.footer
      .container
        span.text-muted For more information, visit the 
            a(href="https://ru.hexlet.io/professions/backend#projects") Hexlet website
