- const getInputName = (f, property) => `${f.name}[${property}]`

mixin formFor(f, options = { inline: false })
  - const url = _.get(options, 'url');
  - const method = _.get(options, 'method', 'get').toLowerCase();
  - const isStandart = _.includes(['get', 'post'], method);
  - const classList = _.get(options, 'classList', '');
  - const dataConfirm = _.get(options, 'dataConfirm', none);
  form(action= url method= isStandart ? method : 'post' class= _.isArray(classList) ? classList.join(' ') : classList data-confirm= dataConfirm)
    if !isStandart
      input(name='_method' type='hidden' value= method)
    block

mixin input(f, property, options = { as: 'text' })
  - const value = f.object[property] === undefined ? '' : f.object[property]
  .form-group(class=(f.errors[property] && 'has-danger'))
    - const preparedLabel = `${_.upperFirst(_.lowerCase(property))}:`
    label= preparedLabel
    input(name=getInputName(f, property) class='form-control' type=options['as'] value=`${value}`)
    if f.errors[property]
      .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin button(f, options = {})
  - const value = _.get(options, 'value', 'Save');
  - const type = _.get(options, 'type', 'submit');
  - const classList = _.get(options, 'classList', '');
  .form-group
    input(class=`btn ${_.isArray(classList) ? classList.join(' ') : classList}` type=`${type}` value=`${value}`)

