extends ../layouts/application.pug
include ../mixins/deletionModal.pug

block content
  .table-responsive-sm
    table.table.table-stripped
      tbody
        tr
          th #
          td= task.id
        tr
          th Name
          td= task.name
        tr
          th Description
          td= task.description
        tr
          th Status
          td= task.taskStatus.name
        tr
          th Creator
          td= task.creator.fullName
        tr
          th Assigned to
          td= task.assignedTo.fullName
        tr
          th Tags
          td
            each tag in task.Tags
              .badge.badge-primary= tag.name
        tr
          th Created at
          td= task.created
        tr
          th Updated at
          td= task.updated

  if isSignedIn()
    .d-flex
      a.btn.btn-info.mr-2(href=urlFor('editTask', task.id) data-tooltip='true' data-placement='bottom' title='Edit')
        span.d-none.d-md-inline Edit &nbsp
        i.fas.fa-pen
      button.btn.btn-danger(type='button' data-toggle='modal' data-target=`#deleteTaskModal${task.id}` data-tooltip='true' data-placement='bottom' title='Remove task')
        span.d-none.d-md-inline Remove task &nbsp
        i.fas.fa-trash-alt
    | <!-- Modal -->
    +deletionModal({ 
      id:`deleteTaskModal${task.id}`,
      message: `Are you sure you want to delete task ${task.name}?`,
      link: urlFor('deleteTask', task.id),
    })