extends ../layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th Name
        th.d-none.d-md-table-cell Created at
        th
    tbody
      each status in statuses
        tr
          td= status.name
          td.d-none.d-md-table-cell= status.created
          td
            a.text-info.mr-3(href=urlFor('editStatus', status.id) data-tooltip='true' data-placement='bottom' title='Edit status')
              i.fas.fa-pen
            a.text-danger(data-toggle='modal' data-target=`#deleteStatusModal${status.id}` data-tooltip='true' data-placement='bottom' title='Delete status')
              i.fas.fa-trash-alt
            .modal.fade(id=`deleteStatusModal${status.id}` tabindex='-1')
              .modal-dialog
                .modal-content
                  .modal-header
                    h5#deleteUserModalLabel.modal-title Attention!
                    button.close(type='button' data-dismiss='modal')
                      span &times
                  .modal-body
                    | Are you sure you want to delete status &nbsp
                    = status.name
                    | ?
                  .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    a.btn.btn-danger(href=urlFor('deleteStatus', status.id) data-method='delete')
                      span.d-none.d-md-inline Yes? I am sure &nbsp
                      i.fas.fa-trash-alt
            
  .d-flex
    a.btn.btn-success(href=urlFor('newStatus') data-tooltip='true' data-placement='bottom' title='Add new status')
      span.d-none.d-md-inline Add &nbsp
      i.fas.fa-plus
